In [1]:
import pandas as pd
import numpy as np

In [2]:
naija_ins = pd.read_csv('sample_submission.csv')
naija_ins

     Customer Id  Claim
0             H0      1
1         H10000      1
2         H10001      1
3         H10002      1
4         H10003      1
...          ...    ...
3063       H9987      1
3064       H9988      1
3065       H9994      1
3066       H9996      1
3067       H9998      1

[3068 rows x 2 columns]

In [3]:
insur_train = pd.read_csv('train_data.csv')
insur_train
# insur_train.columns

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.000000,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.000000,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.000000,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.000000,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.000000,0,V,N,O,R,680.0,1,1800.0,3,1053,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7155,H5290,2012,1.000000,1,V,V,V,U,NaN,1,2001.0,.,NaN,0
7156,H5926,2013,1.000000,0,V,V,V,U,NaN,2,1980.0,.,NaN,1
7157,H6204,2016,0.038251,0,V,V,V,U,NaN,1,1992.0,.,NaN,0
7158,H6537,2013,1.000000,0,V,V,V,U,NaN,1,1972.0,.,NaN,0
7159,H7470,2014,1.000000,0,V,V,V,U,NaN,1,2004.0,.,NaN,0

In [4]:
insur_test = pd.read_csv('test_data.csv')
len(insur_test)

3069

In [5]:
# droping the missing values in both the train and test
insur_train.dropna(inplace = True)


insur_test.dropna(inplace = True)
insur_train.isnull().sum(),insur_test.isnull().sum()

(Customer Id           0
 YearOfObservation     0
 Insured_Period        0
 Residential           0
 Building_Painted      0
 Building_Fenced       0
 Garden                0
 Settlement            0
 Building Dimension    0
 Building_Type         0
 Date_of_Occupancy     0
 NumberOfWindows       0
 Geo_Code              0
 Claim                 0
 dtype: int64,
 Customer Id           0
 YearOfObservation     0
 Insured_Period        0
 Residential           0
 Building_Painted      0
 Building_Fenced       0
 Garden                0
 Settlement            0
 Building Dimension    0
 Building_Type         0
 Date_of_Occupancy     0
 NumberOfWindows       0
 Geo_Code              0
 dtype: int64)

In [6]:
# checking the data formats
insur_train.dtypes, insur_test.dtypes

(Customer Id            object
 YearOfObservation       int64
 Insured_Period        float64
 Residential             int64
 Building_Painted       object
 Building_Fenced        object
 Garden                 object
 Settlement             object
 Building Dimension    float64
 Building_Type           int64
 Date_of_Occupancy     float64
 NumberOfWindows        object
 Geo_Code               object
 Claim                   int64
 dtype: object,
 Customer Id            object
 YearOfObservation       int64
 Insured_Period        float64
 Residential             int64
 Building_Painted       object
 Building_Fenced        object
 Garden                 object
 Settlement             object
 Building Dimension    float64
 Building_Type           int64
 Date_of_Occupancy     float64
 NumberOfWindows        object
 Geo_Code               object
 dtype: object)

In [7]:
insur_train.columns

Index(['Customer Id', 'YearOfObservation', 'Insured_Period', 'Residential',
       'Building_Painted', 'Building_Fenced', 'Garden', 'Settlement',
       'Building Dimension', 'Building_Type', 'Date_of_Occupancy',
       'NumberOfWindows', 'Geo_Code', 'Claim'],
      dtype='object')

In [8]:
# importing the preprocessor package  
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
insur_train.columns

Index(['Customer Id', 'YearOfObservation', 'Insured_Period', 'Residential',
       'Building_Painted', 'Building_Fenced', 'Garden', 'Settlement',
       'Building Dimension', 'Building_Type', 'Date_of_Occupancy',
       'NumberOfWindows', 'Geo_Code', 'Claim'],
      dtype='object')

In [10]:
# Preprocessing the objects into integers and floats
columns = insur_train[['YearOfObservation', 'Insured_Period', 'Residential',
       'Building_Painted', 'Building_Fenced', 'Garden', 'Settlement',
       'Building Dimension', 'Building_Type', 'Date_of_Occupancy',
       'NumberOfWindows', 'Geo_Code', 'Claim']]


for var in columns:
    le = preprocessing.LabelEncoder()
    insur_train[var] = le.fit_transform(insur_train[var].astype('str'))

column = insur_test[['YearOfObservation', 'Insured_Period', 'Residential',
       'Building_Painted', 'Building_Fenced', 'Garden', 'Settlement',
       'Building Dimension', 'Building_Type', 'Date_of_Occupancy',
       'NumberOfWindows', 'Geo_Code']]

for tar in column:
    le = preprocessing.LabelEncoder()
    insur_test[tar] = le.fit_transform(insur_test[tar].astype('str'))


insur_train.dtypes,insur_test.dtypes

(Customer Id           object
 YearOfObservation      int64
 Insured_Period         int64
 Residential            int64
 Building_Painted       int64
 Building_Fenced        int64
 Garden                 int64
 Settlement             int64
 Building Dimension     int64
 Building_Type          int64
 Date_of_Occupancy      int64
 NumberOfWindows        int64
 Geo_Code               int64
 Claim                  int64
 dtype: object,
 Customer Id           object
 YearOfObservation      int64
 Insured_Period         int64
 Residential            int64
 Building_Painted       int64
 Building_Fenced        int64
 Garden                 int64
 Settlement             int64
 Building Dimension     int64
 Building_Type          int64
 Date_of_Occupancy      int64
 NumberOfWindows        int64
 Geo_Code               int64
 dtype: object)

In [11]:
# insur_train.drop(['Customer Id'], axis = 1)
# insur_test.drop(['Customer Id'], axis = 1)

In [12]:
# importing the train test split

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

features = ['YearOfObservation','Insured_Period','Residential','Building_Painted','Building_Fenced','Garden','Settlement','Building Dimension','Building_Type','Date_of_Occupancy','NumberOfWindows','Geo_Code']
target = insur_train.Claim

test_data = insur_test[features]
train_data  = insur_train[features]

In [40]:
test_data

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,1,154,0,1,0,0,0,388,0,40,3,127
1,4,153,0,1,0,0,0,388,0,40,3,127
2,1,59,0,1,1,1,1,737,0,40,0,127
3,2,154,0,1,0,0,0,115,0,82,3,128
4,4,154,0,1,0,0,0,115,0,82,3,128
...,...,...,...,...,...,...,...,...,...,...,...,...
3033,3,154,0,1,0,0,0,177,2,1,7,98
3035,0,154,0,0,1,1,1,745,2,40,0,98
3041,0,154,0,1,1,1,1,136,2,40,0,98
3049,2,154,0,0,1,1,1,434,2,58,0,99
3052,0,154,0,0,1,1,1,242,2,58,0,100

In [33]:
#using the decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(max_depth=3,criterion="entropy")
dtree.fit(train_data,target)

predt = dtree.predict(test_data)
# dtree.score(test_data, predt)

In [34]:
len(predt)

2324

In [14]:
dtree.predict(test_data)
# dtree.score(xtest,ytest)

array([0, 0, 0, ..., 0, 0, 0])

In [45]:
from sklearn.ensemble import RandomForestClassifier
rfost = RandomForestClassifier()
rfost.fit(train_data,target)

pred = rfost.predict(test_data)
rfost.score(test_data,pred)

1.0

In [20]:
# confusion_matrix(ytest,v)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
extree = ExtraTreesClassifier(n_estimators=150,random_state=20,criterion='entropy',max_depth=13)
extree.fit(xtrain,ytrain)

extree.predict(xtest)
extree.score(xtest,ytest)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
importance = extree.feature_importances_
std = np.std([tree.feature_importances_ for tree in extree.estimators_],
             axis=0)
indices = np.argsort(importance)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(xtrain.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importance[indices[f]]))

# Plot the impurity-based feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(xtrain.shape[1]), importance[indices],
        color="r", yerr=std[indices], align="center")
plt.xticks(range(xtrain.shape[1]), indices)
plt.xlim([-1, xtrain.shape[1]])
plt.show()

In [ ]:
#using xgboost
import xgboost as xgb
xg = xgb.XGBClassifier()
xg.fit(xtrain,ytrain)

In [ ]:
xg.predict(xtest)
xg.score(xtest,ytest)

submissions

In [46]:
pred1=pd.DataFrame(pred)

test=pd.read_csv('test_data.csv')

Combined_cols=pd.concat([test['Customer Id'],pred1],axis=1)

Combined_cols.columns=['Customer Id','Claim']

Combined_cols.to_csv('submission.csv', index=False)

In [47]:
xc=pd.read_csv('submission.csv')
xc.

Customer Id      0
Claim          745
dtype: int64

In [48]:
submi= pd.DataFrame({'Customer id':insur_test['Customer Id'], 'Claim':pred})

In [51]:
submi.isnull().sum()

Customer id    0
Claim          0
dtype: int64

In [26]:
ID= insur_test['Customer Id']
sub=list(zip(ID,pred))

In [27]:
Final_submission =pd.DataFrame(sub, columns=['Customer Id', 'Claim'])
Final_submission.to_csv("submission1.csv",index=False)

In [28]:
kl=pd.read_csv('submission1.csv')
len(kl)

2324

In [29]:
kl['Claim'].value_counts()

0    2324
Name: Claim, dtype: int64