In [1]:
import numpy as np
import pandas as pd

In [3]:
naija_ins = pd.read_csv('sample_submission.csv')
naija_ins

     Customer Id  Claim
0             H0      1
1         H10000      1
2         H10001      1
3         H10002      1
4         H10003      1
...          ...    ...
3063       H9987      1
3064       H9988      1
3065       H9994      1
3066       H9996      1
3067       H9998      1

[3068 rows x 2 columns]

In [18]:
insur_train = pd.read_csv('train_data.csv')
insur_train.shape
insur_train.columns

Index(['Customer Id', 'YearOfObservation', 'Insured_Period', 'Residential',
       'Building_Painted', 'Building_Fenced', 'Garden', 'Settlement',
       'Building Dimension', 'Building_Type', 'Date_of_Occupancy',
       'NumberOfWindows', 'Geo_Code', 'Claim'],
      dtype='object')

In [6]:
insur_test = pd.read_csv('test_data.csv')
insur_test.shape

(3069, 13)

In [8]:
#importing 4 models that are to be used in the stack
from sklearn.ensemble import(RandomForestClassifier, AdaBoostClassifier,GradientBoostingClassifier)

In [17]:
import xgboost as xgb
from sklearn.svm import SVC
from sklearn.model_selection import KFold

In [19]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
lab_en = LabelEncoder()